.featuredJob {
  width: 100%;
  margin: 3rem auto;

  &__container {
    display: flex;
    align-items: center;
  }

  &__jobText {
    width: 50%;
    padding-left: 2rem;
  }

  &__jobTitle {
    font-size: 2rem;
    margin-bottom: 4rem;
  }

  &__jobTitleColor {
    font-weight: bold;
    color: steelblue;
  }

  &__jobDescriptionContainer {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
  }

  &__jobDescriptionIcon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: steelblue;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.5rem;
  }

  &__jobDescriptionRow {
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
  }

  &__jobCompany {
    font-weight: bold;
    font-size: 0.8rem;
    margin-bottom: 0.1rem;
  }

  &__jobDays {
    font-size: 0.8rem;
  }

  &__jobType {
    padding: 0.25rem 0.5rem;
    background-color: lightgreen;
    color: green;
    font-size: 0.8rem;
    border-radius: 0.25rem;
  }

  &__jobHeader {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
  }

  &__jobSubHeader {
    width: 70%;
    font-size: 0.9rem;
    line-height: 1.5;
    margin-bottom: 2rem;
  }

  &__applyBtn {
    font-size: 0.8rem;
    background-color: steelblue;
    border-radius: 0.5rem;
    color: white;
    padding: 0.5rem 1rem;
  }

  &__jobInfographics {
    width: 50%;
    position: relative;
    align-self: stretch;
    display: flex;
    align-items: center;
    margin-bottom: 4rem;
  }

  &__jobInfographicImgWrapper {
    width: 60%;
    height: 500px;
    background-color: yellow;
    position: relative;
    top: 5%;
    left: 35%;
    border-radius: 0.5rem;
    overflow: hidden;
    display: inline-block;
  }

  &__jobInfographicImg {
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
  }

  &__jobInfographicContainer {
    position: absolute;
    bottom: -15%;
    left: 0;
    width: 55%;
    height: 400px;
    padding: 4rem 2rem;
    background-color: steelblue;
    border-radius: 1rem;
    background: rgba(70, 130, 180, 0.8);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(70, 130, 180, 0.8);
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
  }

  &__jobInfographicRow {
    width: 100%;
    display: flex;
    align-items: center;
    color: white;
    margin-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);

    &:first-of-type {
      margin-top: auto;
    }
    &:last-of-type {
      border-bottom: 0;
      padding-bottom: 0;
      margin-bottom: auto;
    }
  }

  &__infographicIcon {
    padding: 0.5rem;
    border-radius: 50%;
    background-color: white;
    color: steelblue;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.75rem;
    font-size: 0.8rem;
  }

  &__infographicText {
    font-weight: bold;
    font-size: 0.8rem;
    line-height: 1.2;
  }
}
