@import './_reset.scss';
@import './_layout.scss';

@font-face {
  font-family: 'Inter';
  src: local('Inter'),
    url('./../assets/fonts/Inter-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Sora';
  src: local('Sora'),
    url('./../assets/fonts/Sora-Regular.ttf') format('truetype');
}

* {
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Sora', sans-serif;
}

a {
  text-decoration: none;
  color: steelblue;
  display: inline-block;
}

a,
p,
button {
  font-family: 'Inter', sans-serif;
}

/* TODO: Global fonts */

/* TODO: Global colors */
