.account_buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__login_btn,
  &__register_btn {
    background-color: steelblue;
    padding: 0.5rem 1rem;
    border-radius: 0.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 1rem;
    &:hover {
      cursor: pointer;
    }
  }

  &__login_btn {
    background-color: transparent;
    color: steelblue;
    margin-right: 1rem;
  }
}

@media only screen and (max-width: 1280px) {
  .account_buttons {
    max-width: 1280px;
  }
}

@media only screen and (max-width: 1024px) {
  .account_buttons {
    &__login_btn,
    &__register_btn {
      font-size: 1.5vw;
    }
  }
}

@media only screen and (max-width: 768px) {
  .account_buttons {
    max-width: 768px;
  }
}

@media only screen and (max-width: 640px) {
  .account_buttons {
    max-width: 640px;
  }
}
