.testimonials {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 3rem;

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__header {
    font-size: 2rem;
    line-height: 1.3;
    text-align: center;
    margin-bottom: 2.5rem;
  }

  &__headerColor {
    color: steelblue;
  }

  &__clientContainer {
    display: flex;
    flex-wrap: wrap; 
    align-items: stretch;
    position: relative;
    width: 90%;
    margin: 0 auto;
  }

  &__clientImgWrapper {
    width: 50%;
    height: 450px;
    background-color: bisque;
    display: flex;
  }

  &__clientImg {
    width: 100%;
    object-fit: cover;
    object-position: 0 10%;
  }

  &__clientReviewContainer {
    width: 50%;
    position: relative;
    right: -10px;
    border-left: 0.75rem solid teal;
    background-color: steelblue;
    padding: 3rem;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__clientBtns {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
  }

  &__prevBtnWrapper,
  &__nextBtnWrapper {
    padding: 1rem;
    background-color: teal;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;

    &:hover {
      cursor: pointer;
    }
    &:first-of-type {
      margin-right: 1rem;
    }
  }

  &__text {
    font-size: 1.3rem;
    line-height: 1.5;
    margin-right: 2.5rem;
  }

  &__name {
    font-size: 1.3rem;
    align-self: flex-end;
  }

  &__moreBtnWrapper {
  margin-top: 1.5rem;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(221, 221, 221, 0.7);
  -moz-box-shadow: 0px 0px 15px 0px rgb(221, 221, 221, 0.7);
  box-shadow: 0px 0px 15px 0px rgba(221, 221, 221, 0.7);
  transition: 0.4s all ease-in-out;
  }

  &__moreBtn {
    padding: 1rem 2.5rem;
    background-color: teal;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
  }
}
