.topCategories {
  width: 100%;
  margin: 0 auto 10rem;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__headerContainer {
    width: 50%;
    text-align: center;
    margin-bottom: 2rem;
  }

  &__header {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  &__headerColor {
    color: steelblue;
  }

  &__headerText {
    width: 75%;
    margin: 0 auto;
    text-align: center;
    line-height: 1.2;
    font-size: 0.8rem;
  }

  &__categoriesContainer {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 1.5rem;
    grid-row-gap: 2rem;
  }

  &__categoryCard {
    width: 100%;
    background-color: white;
    padding: 1.5rem;
    display: flex;
    border-radius: 1.25rem;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(221, 221, 221, 0.7);
    -moz-box-shadow: 0px 0px 15px 0px rgb(221, 221, 221, 0.7);
    box-shadow: 0px 0px 15px 0px rgba(221, 221, 221, 0.7);
    transition: 0.4s all ease-in-out;
    &:hover {
      background-color: steelblue;
      -webkit-box-shadow: 0px 0px 15px 0px rgba(70, 130, 180, 0.8);
      -moz-box-shadow: 0px 0px 15px 0px rgb(70, 130, 180, 0.8);
      box-shadow: 0px 0px 15px 0px rgba(70, 130, 180, 0.8);
      color: white;
    }
  }

  &__categoryIcon {
    width: 30px;
    height: 30px;
    margin-right: 0.75rem;
  }

  &__categoryText {
    flex-grow: 1;
  }

  &__categoryTitle {
    font-size: 1.1rem;
    line-height: 1.1;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  &__categoryAvailability {
    font-size: 0.9rem;
  }
}
