.candidateOfDay {
  width: 100%;
  margin: 0 auto;
  padding: 3rem 2rem;
  background-color: #f7f8fb;

  &__container {
    display: flex;
    align-items: center;
  }

  &__textBox {
    width: 50%;
    padding-right: 2rem;
  }

  &__header {
    font-size: 2rem;
  }

  &__headerColor {
    color: steelblue;
  }

  &__candidateInfo {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1rem 0;
  }

  &__img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: aqua;
    margin-right: 0.5rem;
  }

  &__name {
    font-weight: bold;
  }

  &__title {
    font-weight: bold;
    font-size: 1.1rem;
    margin-bottom: 1rem;
  }

  &__description {
    font-size: 0.9rem;
    line-height: 1.3;
  }

  &__stats {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 1rem 0;
  }

  &__stat {
    display: flex;
    align-items: center;
    margin-right: 1.5rem;
  }

  &__statIcon {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgba(70, 130, 180, 0.4);
    font-size: 0.7rem;
    color: steelblue;
    font-weight: bold;
    margin-right: 0.5rem;
  }

  &__statName {
    font-size: 0.7rem;
  }

  &__applyBtn {
    font-size: 0.9rem;
    background-color: steelblue;
    border-radius: 0.5rem;
    color: white;
    padding: 0.5rem 2rem;
  }

  &__imgWrapper {
    width: 50%;
    height: 200px;
    background-color: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.3rem;
  }

  &__imgIcon {
    color: steelblue;
  }
}
